.Modal {
    position: fixed;
    z-index: 500;
    background-color: rgba(219, 211, 216, 0.8);
    width: 70%;
    border: 2px solid #0D2C14;
    box-shadow: 10px 10px 32px 0px  rgba(13,44,20, 0.8);
    padding: 16px;
    left: 15%;
    top: 30%;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
}


@media (min-width: 600px) {
    .Modal {
        width: 500px;
        left: calc(50% - 250px);
    }
}