.Calendar {
	padding: 20px;
	box-shadow: 10px 10px 32px 1px rgba(13,44,20,1);
	margin-left: 20px;
	margin-right: 20px;
}


.Calendar button {
	background-color: rgb(13,44,20);
	border-radius: 67px 67px 67px 67px;
	color: #DBD3D8;
}
.Event{
	background-color:  seagreen;
}
